<div class="page">
    <div class="mat-display-1">Mixed content</div>
    <div class="mat-body-1">This example will show free content mixed with premium content, charging you for it.</div>
    <div class="mat-body-2">Monetization possible: {{isMonetizationAvailable() | json}}</div>

    <div class="images">
        <div *ngFor="let img of images">
            <div *ngIf="img.premium && locked">
                <div class="locked" matTooltip="Micropayments are required"
                matTooltipClass="tt-locked" [matTooltipDisabled]="!img.premium" matTooltipPosition="above">LOCKED</div>
            </div>
            <img [src]="img.src">
        </div>
    </div>
</div>