/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
    padding: 8px 16px;
}

.mat-display-1 {
    margin-bottom: 30px !important;
}