<div class="page">
    <div class="mat-display-1">About the microstore</div>
    <div class="">
        <p>
            This website is an example of a web monetized website. All of these are activated by integrating the proper <code>&lt;meta name="monetization"&gt;</code> tag.
        </p>

        <p>
            Users should log in with their WebID. That WebID should have at least one payment pointer set, and a subscription to a Web Monetization Provider. This provider will be called by our script to perform micropayments on behalf of the user.
        </p>

        <p>
            This script should be obsolete in the future, as we propose for this protocol to be standardized as specification for how generic web-monetized payments can be done in solid applications using your Solid WebID.
        </p>
    </div>
</div>