<div class="row pt-3">
    <div class="col">
        <h5>Payment pointers</h5>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <ul>
            <li *ngFor="let pp of pps">{{pp}} <a class="remove" (click)="removePointer(pp)">(&times;)</a></li>
        </ul>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <form class="form" (submit)="addPointer()" [formGroup]="ppForm">
            <div class="form-row">
                <div class="col form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Payment pointer</span>
                        </div>
                        <input type="text" class="form-control" placeholder="$my.paymentpointer.org"
                            formControlName="paymentPointerValue">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        <h5>Profile</h5>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <button class="btn btn-sm btn-primary" (click)="save()">Save it</button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="restoreLocal()">Restore CSS</button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="restore()">Restore SolidCommunity</button>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <pre *ngIf="turtle">{{turtle}}</pre>
        <!-- <pre>{{prefixes | json }}</pre> -->

        <!-- <pre *ngFor="let q of profile">{{q | json}}</pre> -->
    </div>
</div>