.full-width {
    width: min(100%, 600px);
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    padding: 10px;

    .user {
        border: 1px solid black;
    }
}