<div class="page">
    <div class="mat-display-1">Faucet</div>
    <div class="mat-body-1">This is a faucet test, directly over http client</div>
    <div class="mat-body-2">Monetization possible: {{isMonetizationAvailable() | json}}</div>
    <br>
    <h2>Payment details</h2>
    <form [formGroup]="faucetForm" (submit)="save()">
        <p>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Username 1</mat-label>
                <input matInput type="text" formControlName="username1">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Token 1</mat-label>
                <input matInput type="text" formControlName="token1">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Username 2</mat-label>
                <input matInput type="text" formControlName="username2">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Token 2</mat-label>
                <input matInput type="text" formControlName="token2">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Rafiki paymentpointer</mat-label>
                <input matInput type="text" formControlName="rafikipp">
            </mat-form-field>
        </p>
        <p>
            <button type="submit" mat-flat-button color="primary" [disabled]="faucetForm.invalid">Save</button>
        </p>
    </form>

    <div class="users" *ngIf="detailsPresent">
        <div class="user">
            <div class="name">{{user1?.name}}</div>
            <div class="balance">{{user1?.balance}}</div>
            <div class="Transfer">
                <button mat-stroked-button color="primary" type="button" (click)="fundUser1()">Fund</button>
                <button mat-stroked-button color="primary" type="button" (click)="transferToUser2()">Transfer 10</button>
                <button mat-stroked-button color="primary" type="button" (click)="transferToRafiki()">10 to RAFIKI</button>
            </div>
        </div>
        <div class="user">
            <div class="name">{{user2?.name}}</div>
            <div class="balance">{{user2?.balance}}</div>
            <div class="Transfer">
                <button mat-stroked-button color="primary" type="button" (click)="fundUser2()">Fund</button>
                <button mat-stroked-button color="primary" type="button" (click)="transferToUser1()">Transfer 10</button>
            </div>
        </div>
    </div>

    <div class="log">
        <div class="line" *ngFor="let line of lines">{{line}}</div>
    </div>
</div>