.page {
    position: relative;
    height: calc(100% - 64px - 16px);
}

.paywall {
    position: fixed;
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 40px;;
    // position: static;
    top: calc(64px + 100px);
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    // height: calc(100vh - 64px);
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 10px;
    // height: 200px;

    
    button {
        margin-bottom: 10px;;
    }
    
    .txt1 {
        font-size: 24px;
    }
    .txt2 {
        font-size: 18px;
    }
    .txt3 {
        font-size: 20px;
        
    }
}

.content {
    font-size: 16px;
    display: grid;
    justify-items: left;
    align-content: center;
    align-items: center;
    padding: 20px 0;
    // height: 100px;
}

.logs {
    display: grid;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}