<div class="page">
    <div class="mat-display-1">Paywall</div>
    <div class="mat-body-1">This example shows a paywall that is unlockable if you have monetization enabled and can
        fulfill the micropayment.</div>

    <div class="paywall" *ngIf="isLocked" #paywall>
        <div class="txt1">You may not access this content!</div>
        <div class="txt2" *ngIf="isMonetizationAvailable()">You can unlock this content by aggreeing to reimburse the creator for the
            content</div>
        <button type="button" *ngIf="auth.loggedIn else loginTxt" mat-raised-button color="primary" (click)="unlock()">Unlock through Web
            Monetization</button>
            <ng-template #loginTxt><div class="txt3">Please first log in with your WebID!</div></ng-template>
    </div>

    <!-- <ng-template #content> -->
    <div class="content">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>

        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
            rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
            explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui
            dolorem ipsum, quia dolor sit amet, consectetur, adipiscin] velit, sed quia non numquam do eius modi
            tempora incididunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>

        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
            ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
            nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.</p>

        <h2>Vero eos et accusamus et iusto odio dignissimos ducimus</h2>

        <p>Qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi
            sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi,
            id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>

        <p>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime
            placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Qua temporibus autem
            quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae
            sint et molestiae non recusandae pondere ad lineam. Itaque earum rerum hic tenetur a sapiente delectus,
            ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
        </p>

        <p>Quibus ego assentior, dum modo de iisdem rebus ne Graecos quidem legendos putent. Res vero bonaa verbis
            electis graviter omateque dictas quis i legat? Nisi qui se plane Graeciun dici velit, ut a 9 Scaeiola
            est praetore salutatus Athenis Albucius. Quem quidem locum cum multa venustate et omm sale idem
            Lucilius, apud quem praeclare Scaevola.</p>

        <p>Qui autem alia matunt scribi a nobis, aequi esse debent, quod et seripta multa sunt, sic ut plura nemini
            e nostris, et scribentur fortasse plura si vita suppetet; et tamen qui diligenter haec quae de
            philosophia Htteris mandamus legere assueverit, iudicabit nulla ad legendum his esse potiora.</p>

        <h3>Tempore intellegi convenire</h3>

        <p>Epicurus autem, in quibus sequitur Democritum, noil fere labitur, Quam- quam utriusque cum mutta non
            prolx). turn illiid in priniis, quoJ, cum in rerum nalura duo quaerenda sint, ununi quae materia sit ex
            qua quaeque res cfficiatur, alterum quae vis sit quae quidque efficiat, de materia disserucrunt, vim et
            causam efficiendi reliquerunt. Sed lioc commune vitiuni; illae Epicur propriae ruinae: censet enim eadem
            ilia indlvidua e solida corpora ferri deorsum suo pondere ad lineam i hunc naturalem esse omnium
            corporum motuni.</p>

        <p>Deinde ibidem homo acutus, cam illud occorreret, j omnia deorsum e regione ferrentur et, ut dixi, ad
            lineam, numquam fore ut atomus altera alteram posset attingere, itaque attulit rem commenticiam.</p>

        <p>Declinare dixit atomum perpaulum, quo nihil posset fieri minus; ita eifici complexiones et copulationes
            et adhaesiones atomorum inter se, ex quo eificeretur mundus omnesque partes mundi quaeque in eo essent.
            Quae cum res tota fieta sit piieriliter, turn ne efficit quidem^ quod vult. Nam et ipsa declinatio ad
            libidinem fiiigitur - ait enim deelinare atomum sine causa, quo nibil turpius physico quam fieri.</p>



    </div>
    <!-- </ng-template> -->
</div>