.auth-provider {
    display:grid;
    justify-items: center;
    align-items: center;

    border: 1px solid #333;
    height: 90px;
    width: 160px;
    position: relative;
    .logo {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.auth-provider.custom {
    width: calc(320px + 10px);

    .logo {
        padding-top: 5px;
    }

    .oidcProvider {
        padding: 5px 0 10px;
        width: calc(100% - 30px);

        input {
            width: 100%;;
        }
    }
}