.description {
    color: #666;
}

.providers {
    display: grid;
    width: calc(320px + 10px);
    // margin: 0 auto;
    justify-items: left;
    justify-content: left;
    align-items: center;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;

    row-gap: 10px;
    column-gap: 10px;

    
}
