<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container-md">
    <a class="navbar-brand" routerLink="/">Solid Accountant</a>
    <button class="navbar-toggler" type="button" (click)="collapse = !collapse" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="pp">Payment pointers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
      </ul>
      <ng-container *ngIf="loggedIn; then logoutTpl else loginTpl"></ng-container>
      <ng-template #loginTpl>
        <a class="btn btn-outline-light" routerLink="auth">Log in</a>
      </ng-template>
      <ng-template #logoutTpl>
        <button class="btn btn-outline-light" (click)="logout()">Log out</button>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container-md">
  <router-outlet></router-outlet>
</div>